.container * {
  margin: 0;
  padding: 0;
}

.container {
  border: none;
  border-radius: 0.8em;
  display: grid;
  row-gap: 0.3em;

  /* grid-auto-flow: row; */

  /* grid-template-columns: auto 1fr; */
  column-gap: 1em;
  align-self: flex-start;
  position: relative;
}

.editButton {
  position: absolute;
  right: 0;
  top: 0;
}
