* {
  margin: 0;
  padding: 0;
}

.viewUserProfile {
  /* background-color: lightgoldenrodyellow; */
  font-weight: 300;
  display: grid;
  row-gap: 1em;
  color: var(--text-color-dark);
  width: auto;
}

.userName {
  font-weight: 500;
  font-size: 1.3em;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
}

.userDescription {
  color: var(--text-color-middle);
  font-weight: 400;
}

.userNameDescription {
  display: grid;
  row-gap: 0.5em;
  width: auto;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.8em;
  row-gap: 0.5em;
  align-items: center;
}

.container svg {
  justify-self: center;
  font-size: 1.5em;
}
