.container * {
  margin: 0;
  padding: 0;
}

.container {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0.8em;
  padding: 1em;
  font-size: 1em;
  position: relative;
  display: grid;
  row-gap: 1em;
}

.editButton {
  position: absolute;
  right: 1em;
  top: 1em;
}
