.forgotPasswordForm {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 2fr;

  /* row-gap: 1em; */
}

.forgotPasswordForm__header {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 6em 0 2em;
  row-gap: 2em;
  align-self: flex-end;
}

.forgotPasswordForm__main {
  display: grid;
  row-gap: 1em;
  margin: 0 auto;
  width: 80%;
  max-width: 30em;
}

.forgotPasswordForm__error {
  color: var(--alert-color);
  text-align: center;
}

.forgotPasswordForm__ForgotPasswordTitle {
  text-transform: uppercase;
  font-weight: 500;
}

.forgotPasswordForm__RegisterLink {
  text-transform: uppercase;
  padding: 0.5em 0;
}

.forgotPasswordForm__footer {
  display: grid;
  font-size: 0.8em;
  text-align: center;
  width: 80%;
  max-width: 30em;
  row-gap: 1em;
}

.forgotPasswordForm__main__title {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.5em;
  font-family: var(--font-family-title);
}

.backButton {
  position: absolute;
  top: 2em;
  left: 2em;
}

.main {
  display: grid;
  align-self: flex-start;
  justify-items: center;
  row-gap: 2em;
}
