.container {
  display: grid;
  row-gap: 1em;
  height: 100vh;
  grid-template-rows: auto auto 100%;
}

.header {
  justify-self: center;
  display: grid;
  row-gap: 0.5em;
}

.header__title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.2em;
}

.navBar {
  bottom: 0;
  position: sticky;
  align-self: flex-end;
}

.underContainer {
  display: grid;
  row-gap: 1.5em;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto;
  align-content: flex-start;
}

.right {
  grid-column: 2/4;
  border-radius: 0.8em 0 0 0.8em;
  padding: 1em;
}

.left {
  grid-column: 1/3;
  border-radius: 0 0.8em 0.8em 0;
  display: grid;
  justify-items: right;
  padding: 1em;
}

.secondaryBackgroundColor {
  background-color: var(--secondary-color);
}

.tertiaryBackgroundColor {
  background-color: var(--tertiary-color);
}

.rightContent {
  width: 89%;
}

.leftContent {
  width: 89%;
}

.searchField {
  text-align: center;
}

.realizeTogetherIcon {
  width: 1.5em;
  height: auto;
}

.top {
  display: grid;
  padding: 0.8em 0 0.5em;
  justify-content: center;
}

.realizeTogether {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.5em;
  font-family: var(--font-family-title);
}

.topFix {
  display: grid;
  top: 0;
  position: sticky;
  background-color: var(--background-color);
  padding: 1.5em 1em 0.5em;
  z-index: 1;
}

.messagesIcon {
  font-size: 3em;
}

.underline span {
  text-decoration: underline;
}

.link {
  display: grid;
  justify-items: end;
}
